a:visited{color:blue}
a:hover{font-weight: bold}
hr{background-color: lightgoldenrodyellow;}
.invert{color: lightgoldenrodyellow;}
.base-background{background-color: black;}
html{font-family: 'Roboto', sans-serif;}